In [86]:
import worksheet.worksheet as worksheet
import pandas as pd

In [87]:
## Loan worksheet 1

purchase_price = 455000 + 2956.00
down_payment = 50000
interest_rate = 0.06375
duration = 30
escrow = 6671.33 - 2956.50 - 2066.33
fees = 11211.08 + 2066.33 + 2956.50
additional_payments = 100 + 621
mortgage_insurance = 0

naf_with_credits = worksheet.Worksheet(purchase_price, down_payment, interest_rate, duration, escrow, fees, additional_payments, mortgage_insurance, 4000)
naf_with_credits.print_worksheet()

Loan Worksheet
--------------
Monthly Payment: 3266.11
Extra Payment: 733.89
Closing Costs: 67882.41
Total Mortgage Insurance: 0.00
Years to 20% equity: 2.92
Years to Pay Off Loan: 17.08

In [94]:
## Loan worksheet 2

purchase_price = 455000 + 2956
down_payment = 50000
interest_rate = 0.06625
duration = 30
escrow = 4605 - 2956.50
fees = 7098.88 + 2956.50 
additional_payments = 100 + 621
mortgage_insurance = 0

naf_without_credits = worksheet.Worksheet(purchase_price, down_payment, interest_rate, duration, escrow, fees, additional_payments, mortgage_insurance, 4000)
naf_without_credits.print_worksheet()

Loan Worksheet
--------------
Monthly Payment: 3333.19
Extra Payment: 666.81
Closing Costs: 61703.88
Total Mortgage Insurance: 0.00
Years to 20% equity: 3.08
Years to Pay Off Loan: 17.58

In [89]:
comparison = worksheet.compare_worksheets(naf_with_credits, naf_without_credits)
comparison

Worksheet 2 is better if you refinance within 7.68 year

                                       Worksheet 1   Worksheet 2
Monthly Payment                        4000.000000   4000.000000
Book Monthly Payment                   3266.114684   3333.186984
Total Costs                           67882.410000  61703.880000
Closing Costs                         67882.410000  61703.880000
Mortgage Insurance                        0.000000      0.000000
Months to Pay Off Mortgage Insurance     35.000000     37.000000

In [97]:
2956/36

82.11111111111111

In [95]:
# Loan worksheet 3

purchase_price = 455000
down_payment = 50000
interest_rate = 0.06625
duration = 30
escrow = 4605 - 2956.50
fees = 7098.88
additional_payments = 100 + 621
mortgage_insurance = 44.36

naf_without_credits_with_mortgage_insurance = worksheet.Worksheet(purchase_price, down_payment, interest_rate, duration, escrow, fees, additional_payments, 2956/36, 4000)
naf_without_credits_with_mortgage_insurance.print_worksheet()

Loan Worksheet
--------------
Monthly Payment: 3396.37
Extra Payment: 603.63
Closing Costs: 58747.38
Total Mortgage Insurance: 3202.33
Years to 20% equity: 3.25
Years to Pay Off Loan: 18.25

In [96]:
comparison = worksheet.compare_worksheets(naf_without_credits, naf_without_credits_with_mortgage_insurance)
comparison

Worksheet 1 is better than Worksheet 2

                                       Worksheet 1   Worksheet 2
Monthly Payment                        4000.000000   4000.000000
Book Monthly Payment                   3333.186984   3396.370503
Total Costs                           61703.880000  61949.713333
Closing Costs                         61703.880000  58747.380000
Mortgage Insurance                        0.000000   3202.333333
Months to Pay Off Mortgage Insurance     37.000000     39.000000

In [99]:
## PNC worksheet (potentially)

purchase_price = 455000
down_payment = 50000
interest_rate = 0.0650
duration = 30
escrow = 4605 - 2956.50
fees = 7098.88
additional_payments = 100 + 621

pnc = worksheet.Worksheet(purchase_price, down_payment, interest_rate, duration, escrow, fees, additional_payments, 168, 4000)
pnc.print_worksheet()

Loan Worksheet
--------------
Monthly Payment: 3360.88
Extra Payment: 639.12
Closing Costs: 58747.38
Total Mortgage Insurance: 2960.00
Years to 20% equity: 3.08
Years to Pay Off Loan: 17.92

In [100]:
comparison = worksheet.compare_worksheets(naf_without_credits_with_mortgage_insurance, pnc)
comparison

Worksheet 2 is better than Worksheet 1

                                       Worksheet 1   Worksheet 2
Monthly Payment                        4000.000000   4000.000000
Book Monthly Payment                   3396.370503   3360.875495
Total Costs                           61949.713333  61707.380000
Closing Costs                         58747.380000  58747.380000
Mortgage Insurance                     3202.333333   2960.000000
Months to Pay Off Mortgage Insurance     39.000000     37.000000

In [98]:
2956 * 1.06625**3

3583.286738304687